body{
    background-color: crimson;
}

.navigation_bar{
    background-color: red;
    padding: 5px;
}

.navigation_link{
    margin-right: 5px;
    font-size: 24px;
    color: black;
}

.navigation_link:hover{
    background-color: yellow;
    color:black;
}

.banner{
    background-color: darkred;
    color: white;
}

.banner_image{
    max-height: 150px;
    min-height: 150px;
}

.content{
    background-color: crimson;
}
