
.navigation_bar{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.navigation_link{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.navigation_link:hover{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.banner{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.banner_image{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.content{
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.footer{
	font-family: 'PT Serif', serif;
	font-size: 16px;
}