
.navigation_bar{
    text-align: left;
}

.navigation_link{
    margin-right: 5px;
}

.banner{
    text-align: center;
}

.banner_image{
    /*max-width: 100%;*/
    /*min-width: 100%;*/
    max-height: 150px;
    min-height: 150px;
}

.content{
    text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.footer{
		display: block;
		text-align: center;
}

ul{
	list-style-position: inside;
}