@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

.fileToolbar{
-fx-background-color: #E81717;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.tab_pane{
-fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.fileToolbar_button{
-fx-background-color: #C71414;
    -fx-border-color: #FAF734;
    -fx-border-insets: 10px;
    -fx-padding-left: 100px;
    -fx-padding-right: 100px;
    -fx-padding-top: 50px;
    -fx-padding-bottom: 50px;
    -fx-font-size: 10px;
    -fx-prompt-text-fill: #ABBD37;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.siteToolbar{
-fx-background-radius: 5.0;
    -fx-background: #DB4040;
    -fx-background-color: #DB4040;
    -fx-border-color: #E3E34D;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.siteToolbar_button{
-fx-background-color: #C71414;
    -fx-border-color: #FAF734;
    -fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.border_pane{
-fx-background-color: #F5CB90;
}

.layout_hbox{
-fx-background-color: #F5CB90;
-fx-border-color: #C76118;
-fx-padding-top: 10px;
-fx-padding-bottom: 10px;
-fx-font-size: 17px;
-fx-text-family: Arial, Helvetica, sans-serif;
}

.layout_buttons{
 -fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
}

.layout_button_green{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-color: #61D613;
}

.layout_button_hot_red{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-color: #E62012;
}

.layout_button_cool_blue{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-color: #12E6DB;
}

.layout_button_yellow{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-color: #D6BC13;
}

.layout_button_purple{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-color: #B510B5;
}

.layout_buttons_slabo{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: 'Slabo 27px', serif;
}

.layout_buttons_sans_pro{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: 'Source Sans Pro', sans-serif;
}

.layout_buttons_serif{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: 'PT Serif', serif;
}

.layout_buttons_hind{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: 'Hind', sans-serif;
}

.layout_buttons_cantarell{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: 'Cantarell', sans-serif;
}

.components_hbox{
-fx-background-color: #F5CB90;
-fx-border-color: #C76118;
-fx-padding-top: 10px;
-fx-padding-bottom: 10px;
-fx-font-size: 17px;
-fx-text-family: Arial, Helvetica, sans-serif;
-fx-spacing: 300px;
}

.add_components{
-fx-background-color: #9AF590;
-fx-border-color: #C76118;
-fx-padding-top: 10px;
-fx-padding-bottom: 10px;
-fx-font-size: 17px;
-fx-text-family: Arial, Helvetica, sans-serif;
-fx-spacing: 7px;
}

.edit_components{
-fx-background-color: #D94338;
-fx-border-color: #C76118;
-fx-padding-top: 10px;
-fx-padding-bottom: 10px;
-fx-font-size: 17px;
-fx-text-family: Arial, Helvetica, sans-serif;
-fx-spacing: 7px;
}

.add_components_buttons{
-fx-border-insets: 10px;
    -fx-padding: 15px 10px 15px 10px;
    -fx-spacing: 100px;
    -fx-font-size: 17px;
         -fx-font-family: "Andalus";
         -fx-text-alignment: center;
}